<div style="padding:1em; padding-top:0">
<strong><h2>About</h2></strong>
	<p>
		While employed at Portland Title Group I was given the responsibility of overseeing the quality of title reports outsourced to our offshore India branch, and my in house team was tasked with reviewing the reports they sent out for errors. I had identified and created a list of categories and tasks that encompassed all errors that could happen on a report. Proofers then utilized this list in a spreadsheet to track aggregate error data for the purpose of providing daily/monthly statistical breakdowns of errors, with a focus on drilling down problem areas. 
	</p>
	<p>
		This application was designed to streamline that process and provide extensive data to reinforce training objections, live, to both sides of our operations at any time.
	</p>

<strong><h3>Login</h3></strong>
	<p>
		You can log into a current admin user for the "Title Co" demo company to see application features.
	</p>
	<p>
		<label style="padding-left:1em;width:100px">User:</label>admin@admin.com
	</p>
	<p>
		<label style="padding-left:1em;width:100px">Password:</label>password
	</p>

	<strong><h3>Create a New Organization</h3></strong>
	<p>
		To create a new organization, you must first <%= link_to 'create', new_user_path %> a new user that will default to admin. At this time, users can only be created for a specific organization through admin controls. There is no ability to transfer users through the UI.
	</p>

</div>
