<div class="jumbotron" style="margin: auto 0">
	<h1>Error Tracker</h1>
	<p> Manage your organizations QC/QA data with Error Tracker.
		<ul class="list">
			<li>Create multiple customized templates for different areas of operation</li>
			<li>Track user statistics</li>
			<li>Monthly statistical breakdowns</li>
		</ul>
	</p>
	<% unless signed_in? %>

		<p>
			<%= link_to 'Sign up', new_user_path, class:"btn btn-primary" %>
		</p>
	<% end %>
</div>
