
<div class="nested-fields">
	<div class="form-group">
		<table style="border:none">
			<th style="width:184px;"><%= f.text_field :description, class: "form-control" %></th>
<th><%= f.hidden_field :_destroy %>
		<%= link_to_remove_association '', f, class: "glyphicon glyphicon-remove", style: "color: #a94442; padding:0; padding-left: .5em", data: { confirm: "Are you sure?"+"\n"+"\n"+"Removing task will remove all associated order data" } %>
</th>
</table>
	</div>
</div>	
