<h1>Editing <%= @order_type.title %></h1>
<div class="panel panel body alert-danger alert-header">
<h4><strong>WARNING:</strong> Modifying template elements will retroactively effect all associated orders. You may want to consider deactivating this template and creating a new one.
</div>
</h4>
<%= render 'form' %>