<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Order Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%#= task.category.name %></td>
        <td><%= task.order_type.title %></td>
        <td><%= link_to 'Show', task %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>