<div id="login-panels">
  <div style="top:20px;" class="panel panel-group" id="accordion nav_bar">
  	<div class="panel panel-default"style="margin: 0px;margin-top: 0">
      <div class="panel-heading">
        <h4 class="panel-title">Login</h4>
      </div>
      <div class="panel-body">
        <%= render 'devise/sessions/new' %>
      	<%#= link_to "Login", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
