<div style="width:100%">
<h2> Listing Orders for <%= @date.strftime("%x") %></h2>
<%= render 'breakdown' %>
</div>
<div class="with_errors">
		<ol>
	    <% @orders.each do |order| %>
	      <li><%= render order %></li>
	    <% end %>
	  </ol>
</div>

