<h1> Listing Orders for <%= @date.strftime("%x") %></h1>
<!-- THIS WILL BE A PARTIAL THAT IS SHARED WITH CALENDAR -->
	<h2> Quality <%= render 'breakdown' %> </h2>

	<ol>
    <% @with_errors.each do |order| %>
      <li><%= render order %></li>
      <% end %>
    <% @no_errors.each do |order| %>
    	<li><%= render order %></li>
    	<% end %>
  </ol>
