<div id="orders">
	<h2 id="month"><%= @order_type.title %> for <%= @start_date.strftime("%B %Y") %> </h2>
  <%= calendar(@start_date) do |date| %>
  	<div class="day"><%= date.day %></div>
  <% end %>
</div>
