@import "bootstrap";

/* universal */

.calendar {
	width: 100%;
}

.form-order_type {
}
#nav_bar {
	top: 20px;
}
.panel {
	padding: 0;
	margin: .5em;
	margin-top: 1em;
	.panel-body {
	}
}
div {
label
{
	width: auto;
}
}
a:hover {
text-decoration: none;
}
table {
	border-collapse: collapse;
	border: 1px solid #CAD1FC;
	width: 100%;
	td {
		label {
			width: 100%;
			text-align: left;
		}
	}
}
	.line-even {
		background: #D8DDFC;
	}
	.line-odd {
		background: none;
	}

	.order-header
	{
		background: #3C4AA2;
		color: white;

}
.note-field {
	margin: 1em;
}

	textarea {
		background-color: #FFFAC5;
}

#container {
	position: relative;
	width: auto;
	margin: auto;
	max-width: 1000px;
	min-width: 600px;

}

#side {
	position: relative;
	float: left;
	width: 300px;
	display: inline;
}
#content {
	float: left;
	padding-left: 1em;
	width: 60%;
}

#footer {
	clear: both;
	padding-bottom: 2em;
}
.new_order {
padding-left: 1.5em;
}

label {
}

#categories 
{
	margin-bottom: 10px;
}

.form-control {
	width: auto;
}

button
{
	a:visited {color: white;}
}

.form-control {
	margin-bottom: .5em;
}

.month {
	position: relative;
	width: auto;
}

#orders ul {
  font-size: 11px;
  padding-left: 20px;
}



.with_errors {
  float:left;
  width: 40%;
  height:100%;
}

.no_errors {
  float:left;
  width: 40%;
  height:100%;
}


