
/* universal */

/*
====================================================================
HTML
====================================================================
*/

.field_with_errors {
	display: inline;
	color: #a94442;
	input {
		background-color: #f2dede;
	}
	}
body {
background-color:#2C2731;
opacity: .97;
height: 100%;
}
html {
	min-width: 550px;
}
html, body, .wrapper {
  height: 100%;
}
.wrapper {
	padding-bottom: 50px;
}

.glyphicon {
	padding-right: 1em;
}
path:hover {
	cursor: pointer;
}
.container {
	max-width: 1000px;
	width: auto;
	margin-top: 2em;
	
	min-height: 100%;
}
.site-container {
	min-height: 100%;
}
.panel {
	padding: 0;
	margin: .5em;
	margin-top: 0em;
	
	.panel-body {
	}
}
div {
label
{
	width: auto;
}
}
a:hover {
text-decoration: none;
}
table {
	border-collapse: collapse;
	border: 1px solid #CAD1FC;
	width: 100%;
	tr {
		line-height: 1;
		padding: 1px;
	}
	.td-description{
		label {
			font-weight: normal;
			width: 100%;
			text-align: left;
			padding-left: 2em;
		}
	}
	.td-status {
		text-align: center;
		div {
			width: 100%;
			text-align: right;
			padding-right: 2em;
		}
	}
}
	.line-even {
		background: #D8DDFC;
	}
	.line-odd {
		background: none;
	}
	button
{
	a:visited {color: white;}
}
/*
====================================================================
SIDE
====================================================================
*/
.btn-menu:hover {
	background-color: #adadad;
}
#nav_menu {
	padding-left: 1em;
	font-size: 20px;

}
#side {
padding-top: 0px;
padding-bottom: 1em;
padding-right: 0em;
padding-left: 0em;
max-width: 279px;

	.panel-heading {
		border-radius: 0;
	}

	.panel-group {
		border-radius: 0;
	}
}
#side_nav_toggle {
	position: absolute;
	top: 1em;
	left: 1em;
	margin-bottom: 1em;
	color: #777;
	font-weight: bold;
	z-index: 999999;
	background: none;

}

.search-form {
	padding: .5em;
	padding-bottom: 1em;
}
/*
====================================================================
CONTENT
====================================================================
*/
.panel-body {
	.list-group {
		a {
			border: none;
			.list-group-item {
				padding:0;
			}
		}
	}
}

.breakdown {
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
	border-radius: 0;
	.list-group-item {
		border-radius: 0;
	}
}
#content {
	height: 100%;
	margin: 0 auto;
	margin-top: 2em;
}

/*
====================================================================
FOOTER
====================================================================
*/

footer {
padding-bottom: 2em;
padding-top: 2em;
	div {
	padding-top: 1em;
	border-top: 1px solid #333333;
	text-align: center;
	}
}



.calendar {
	width: 100%;
}
	.order-header
	{
		background: #428bca;
		color: white;

}
.note-field {
	margin: 1em;
}

	textarea {
		background-color: #FFFAC5;
}


.new_order {
padding-left: .5em;
}

label {
}

#categories 
{
	margin-bottom: 10px;
}

.form-control {
	width: auto;
}



.form-control {
	margin-bottom: .5em;
}

.month {
	position: relative;
	width: auto;
}

#orders ul {
  font-size: 11px;
  padding-left: 20px;
}

ol {
	padding-left: -5px;
}

#login-panels {
	.login {
		width: 100%;
	}
}