// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-header {
	background-color: blue;
	padding: .5em;
	td {
	color: white;
	}
}
.day-values {
	td {
	padding-bottom: 1em;
	text-align: center;
	}
}

.day-title {
	font-weight: 700;
	font-size: 15px;
	td {
	text-align: center;
	}
}