// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#orders .calendar {
  border-collapse: collapse;
  width: 60%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 0px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
    p {
      padding: 6px;
    }
  }

  .notmonth, .notmonth a { background-color: #D9D9D9; }
  .today { background-color: #D7F2FF; }
  .qc1 { background-color: #67E667;}
  .qc2 { background-color: #D1F76F;}
  .qc3 { background-color: #FFE573;}
  .qc4 { background-color: #FEC172;}
  .qc5 { background-color: #FF7373;}
}

#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#orders ul {
  font-size: 11px;
  padding-left: 20px;
}

.day {
  text-align: right;
  font-size: 17;
  background-color: #BCBCBC;
  margin: 0;
}

.with_errors {
  float:left;
  width: 40%;
  height:100%;
}

.no_errors {
  float:left;
  width: 40%;
  height:100%;
}
