<% if object.errors.any? %>
	<div id="error explanation">
		<div class = "alert alert-danger" style="background-color:transparent; border-radius: 0; border:none; margin-bottom: 0">
			<h4><span class="glyphicon glyphicon-exclamation-sign"></span>This <%= object.class.name.downcase %> form contains <%= pluralize(object.errors.count, "error") %></h4>
			<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li> <%= msg %></li>
			<% end %>
			</ul>	
		</div>
	</div>
<% end %>