<% if object.errors.any? %>
	<div id="error explanation">
		<div class="alert alert-danger error-message">
			<h4><span style ="width:20px"class="glyphicon glyphicon-exclamation-sign"></span>
				Could not <%= params[:action] %> this <%= object.class.name.downcase %> due to  <%= pluralize(object.errors.count, "error") %>:</h4>
			<ul style="margin-left: 1em">
			<% object.errors.full_messages.each do |msg| %>
				<li> <%= msg %></li>
			<% end %>
			</ul>	
		</div>
	</div>
<% end %>