<div>
	<ul class="list-inline" style="list-style-type:circle">
		<li style="color:#777">2015 John Calvin</li>
		<li><%= link_to 'About', about_path %></li>
		<li><%= link_to 'GitHub', 'https://github.com/jdcalvin/error_tracking' %></li>
		<li><%= mail_to 'calvjd@gmail.com', 'Email' %></li>
	</ul>
</div>
