<div>
	<ul class="list-inline">
		<li style="color:#777">2014 John Calvin</li>
		<li><%= link_to 'About', '#' %></li>
		<li><%= link_to 'GitHub', 'https://github.com/jdcalvin/error_tracking' %></li>
		<li><%= mail_to 'calvjd@gmail.com', 'Email' %></li>
	</ul>
</div>
