
	<div id="side_nav_toggle" class="pull-left visible-xs" style="width:100%; margin-top: -1em; padding-top: 1em;padding-bottom: 1em; background-color: #2C2731; opacity: .9">
		<button type="button" class="btn btn-default btn-menu" data-toggle="offcanvas" style="background-color:whitesmoke">
			<span class="glyphicon glyphicon-th-list"</span>
			Menu
		</button>
        <%= link_to '<span style="font-size: 18px; padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-home"></span>'.html_safe, root_path, style:"padding-top: .5em;" %>

        <%= link_to '<span style="font-size: 18px; padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-question-sign"></span>'.html_safe, help_path, style:"padding-top: .5em;" %>

        <%= link_to '<span style="font-size: 18px; padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-comment"></span>'.html_safe, contact_path, style:"padding-top: .5em;" %>  
      <% if user_signed_in? %>
  			<%= link_to '<span style="font-size: 18px; padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-dashboard"></span>'.html_safe, organization_admin_panel_path(@organization) %>
  		<% end %>
	</div>
