<div class="header">
	<div id="side_nav_toggle" class="pull-left visible-xs" >
		<button type="button" class="btn btn-default" data-toggle="offcanvas">
			<span class="glyphicon glyphicon-th-list"</span>
				Menu
		</button>
	</div>
</div>