<div class="header">
	<div id="side_nav_toggle" class="pull-left visible-xs" >
		<button type="button" class="btn btn-default btn-menu" data-toggle="offcanvas" style="background-color:whitesmoke">
			<span class="glyphicon glyphicon-th-list"</span>
			Menu
		</button>
	</div>
</div>