
	<div id="side_nav_toggle" class="pull-left">
		<button type="button" class="btn btn-default btn-menu" data-toggle="offcanvas">
			<span class="glyphicon glyphicon-th-list"</span>
			Menu
		</button>
			
        <%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe, root_path %>

        <%= link_to '<span class="glyphicon glyphicon-question-sign"></span>'.html_safe, help_path %>

        <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe, contact_path %>  
        <% if @organization %>
  			   <%= link_to '<span class="glyphicon glyphicon-dashboard"></span>'.html_safe, organization_admin_panel_path(@organization) %>
         <% end %>
			</div>  		
	</div>
